treinamento-semantix/material-aulas/
docker-bigdata/
data/
projeto-final/
spark/exercises-data/
spark/treinamento-semantix/material-aulas/
spark/data/hadoop
spark/data/hbase
spark/data/hue
spark/data/jupyter
spark/data/kafka
spark/data/metabase
spark/data/mongo
spark/data/mysql
spark/data/nifi
spark/data/postgresql
spark/data/util
spark/data/zookeeper
spark/input/beneficio
spark/input/db-sql
spark/input/economicFitness
spark/input/empreendimento
spark/input/escola
spark/input/exercises-data
spark/input/hnpStats
spark/input/iris
spark/input/names
spark/input/namesbystate
spark/input/ouvidoria
spark/input/users
spark/input/data-covid
spark/projeto-final/.ipynb_checkpoints
spark/projeto-final/graficos_081222.png
spark/Obitos acumulados.png
spark/quadro_0801222.png
spark/quadros.png
spark/regiao_081222.png
spark/sintese.png
docker-compose.yml
docker-compose-completo.yml
docker-compose-completo-windows.yml
docker-compose-parcial.yml
ecosystem.jpeg
