big-data-foundation/
data/
docker-bigdata/
input/
projeto-final/
treinamento-semantix/material-aulas/
docker-compose.yml
docker-compose-completo.yml
docker-compose-completo-windows.yml
docker-compose-parcial.yml
ecosystem.jpeg
spark/data/
spark/exercises-data/
spark/input/beneficio/
spark/input/data-covid/
spark/input/db-sql/
spark/input/economicFitness/
spark/input/empreendimento/
spark/input/escola/
spark/input/exercises-data/
spark/input/hnpStats/
spark/input/iris/
spark/input/juros_selic/
spark/input/names/
spark/input/namesbystate/
spark/input/ouvidoria/
spark/input/populacaoLA/
spark/input/users/
spark/input/readme
spark/projeto-final/.ipynb_checkpoints/
spark/projeto-final/graficos_081222.png
spark/projeto-final/Obitos acumulados.png
spark/projeto-final/quadro_0801222.png
spark/projeto-final/quadros.png
spark/projeto-final/regiao_081222.png
spark/projeto-final/sintese.png
spark/treinamento-semantix/material-aulas/
spark/docker-compose.yml
spark/docker-compose-completo.yml
spark/docker-compose-completo-windows.yml
spark/docker-compose-parcial.yml
spark/ecosytem.jpeg