treinamento-semantix/material-aulas/
docker-bigdata/
spark/exercises-data/
spark/treinamento-semantix/material-aulas/
docker-compose.yml
docker-compose-completo.yml
docker-compose-completo-windows.yml
docker-compose-parcial.yml
ecosystem.jpeg
